.live_main{
	margin-top: 65px;
	height: 300px;
	position: relative;
	margin-bottom: 20px;
}


input[type=text]
{
	position: absolute;
	top: 130px;
	left: 28%;
}
#hours
{
	position: absolute;
	top: 130px;
	left: 55%;
	padding: 7px;
}

#btnclk
{
	position: absolute;
	top: 200px;
	left: 45%;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;


}

.pnr_main{

	height: 500px;
}