.live_main{
	margin-top: 65px;
	height: 300px;
	position: relative;
	margin-bottom: 20px;
}
h1{
	
	position: absolute;
	font-size: 55px;
	top: 20px;
	left: 30%;
}

input[type=text]
{
	position: absolute;
	top: 130px;
	left: 32%;
}
input[type=date]
{
	position: absolute;
	top: 130px;
	left: 52%;
}
#btnclk
{
	position: absolute;
	top: 200px;
	left: 45%;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}